<% include ../partials/header %>
		


<div class="container">
<header class="jumbotron">
<h1><center><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Welcome to My-Barter!</center></h1>
<br>
<h4><center>Biggest cross platform payment conversion barter like gateway!</center></h4>
<p><center><a class="btn btn-success btn-large" href="/barter/new"><h4>Pay using My-Barter!</h4></a></center></p>
</header>

<div class="row text-center" style="display:flex; flex-wrap:wrap;">

</div>
</div>
<% include ../partials/footer %>